

{% extends 'base.html' %} 

{% block body %}

<form method="POST">
  <input type="text" autofocus="autofocus" name="search_string">
  <input type="submit" formaction="/search" value="Search">
</form>

<p><a href="{{ url_for('.add_job')}}"> Add a new job </a></p>

{% with messages = get_flashed_messages() %}
 {% if messages %}
 <div class="alert alert-warning alert-dismissible fade show" role="alert" id="flash">
   {% for message in messages %}
   <strong>Alert!</strong> {{ message }}
   <button type="button" class="close" data-dismiss="alert" aria-label="Close">
     <span aria-hidden="true">&times;</span>
   </button>
   {% endfor %}
   {% endif %}
   {% endwith %}
 </div>
 <h3>{{ legend }}</h3>
{% if jobs %}
	<table>
        <thead>
            <tr>
                <th>Company Name</th>
                <th>Job Title</th>
            </tr>
        </thead>

        <tbody>
            {% for row in jobs %}
            <tr>
                <td> {{ row.company_name }} </td>
                <td> {{ row.job_title }} </td>
                
                <td>
                    <form action="{{ url_for('job', jobId=row.jobId) }}" method="POST">
                      <input type="submit" value="Information" class="btn btn-info" />
                    </form>
                  </td>
            </tbody>
            {% endfor %}
        </tbody>
    </table>	
{% endif %}
{% endblock %}		
