{% extends 'base.html' %}
{% block body %}
<div>
<p><a href="{{ url_for('index')}}"> Home </a></p>
  <h3>{{ legend }}</h3>

  {% with messages = get_flashed_messages() %}
   {% if messages %}
   <div class="alert alert-warning alert-dismissible fade show" role="alert" id="flash">
     {% for message in messages %}
     <strong>Alert!</strong> {{ message }}
     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
       <span aria-hidden="true">&times;</span>
     </button>
     {% endfor %}
     {% endif %}
     {% endwith %}
   </div>


{% if form %}
<table>
    
    <tbody>

  <form method="POST">

    {{ form.csrf_token }}
    
    <tr><td><b>Job ID:</b> {{ form.jobId }}</td></tr>
    <tr><td><b>Company:</b> {{ form.company_name.label }} {{ form.company_name }}</td></tr>
    <tr><td><b>Job Title:</b> {{ form.job_title.label }} {{ form.job_title }}</td></tr>


    
    <tr><td>
    <input type="submit" formaction="{{url_for('update_job', jobId=form.jobId)}}" value="Update">
    <input type="submit" formaction="{{url_for('delete_job', jobId=form.jobId)}}" value="Delete">
    </td>
</tbody>

  </form>
</table>
{% endif %}
</div>
{% endblock %}